@charset "ISO-8859-1";
/*For the whole page*/
#body 
{
	transition: margin-left .5s;
	padding: 0;
	background-color:white;
	margin-left: 250px;
	color: black;
}

/*before user do something*/
.instruction 
{
	color:#990099;
}

/*style the line under instruction*/
.hrStyle
{
	height: 3px;
    background: #990099;
    margin: 20px 0;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	border-radius: 5px;
	background:#51b09a;
	color:black;
	width:100%;
}
.card:hover {box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);}

img {border-radius: 5px 5px 0 0;}

.container {padding: 10px 46px;}

.border {
	width: 70%;
	background-color: #ede4e4;
	padding: 11px 29px;
	border-radius: 4px;
	border: none;
	text-align: left;
	display: inline-block;
	font-size: 17px;
}
	
#user {margin-top: 0%;}

#add, #choose {
	background-color: #4475fc;
	border-radius: 4px;
	border: none;
	color: white;
	padding: 10px 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 17px;
}
#add:hover{background-color: #365cc7; cursor: pointer;}
#choose:hover{background-color: #365cc7; cursor: pointer;}

#Cancel {
	background-color: #f7462f;
	border-radius: 4px;
	border: none;
	color: white;
	padding: 10px 29px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 17px;
}
#Cancel:hover{background-color: #cc3d33; cursor: pointer;}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=number] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

select{
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


	.salesTable {
		border-collapse: separate; 
		border-spacing: 0; 
		text-align: center;
		width:98%;
		border: 1px solid #cccccc;
		
	}

	.th2{
		background-color: #2c3338; color: white;
		font-family: 'Maven Pro', sans-serif; 
		border: 1px solid white;
		padding-top: 15px; padding-right: 15px; padding-bottom: 15px; padding-left: 15px;
	}
	
	.tr2:nth-child(even) {background-color: #f2f2f2;}

	.td2{
		font-family: 'Roboto Condensed', sans-serif;
		border-top: 1px solid #cccccc;
		padding-top: 15px; 
		padding-right: 15px; 
		padding-bottom: 15px; 
		padding-left: 15px;
	}
	
	
.btn /* button Log in */ {
	text-decoration: none;
	background-color: #0066ff;
	border-radius: 4px;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 10px 2px;
	padding: 10px 10px;
	width: 8%;
	cursor: pointer;
	font-family: 'Doppio One';
	font-size: 15px;
}

.btn:hover {
	background-color: #0059b3;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
}

/*viewAdsListAD page style*/
.listadstable table, .shipReqList table {
	width:100%;
	border: 2px solid black;
	border-collapse: collapse;
}

.listadstable th, .listadstable td, .shipReqList th, .shipReqList td {
	text-align: center;
	border: 2px solid black;
	padding-top: 15px; padding-right: 15px; padding-bottom: 15px; padding-left: 15px;
}

.listadstable th, .shipReqList th { background-color: #ccccff; }

.viewButton, .acceptButton, .rejectButton {
	text-decoration: none;
	background-color: #ff8533;
	border-radius: 4px;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	padding: 5px 10px;
}
.viewButton { background-color: #ff8533; }
.viewButton:hover {background-color: #e65c00; color:white;}
/*------------------------------------------------------------*/

/*viewDetailsAdsListAD page style*/
.detail-table table {
	width:100%;
	border: 0px;
	border-collapse: collapse;
}

.detail-table th, .detail-table td {
	border-bottom: 2px solid #ccccff;
	padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;
}

.detail-table td { width:80%; }

.detail-table th {
	width: 10%;
	color: #000099;
	padding-right: 20px;
}

.adsImg { width:300px; }
#adsImgBorder{width: 10%; border:0px;}

.deleteButton, .editButton, .backButton, .addButton {
  border-radius: 4px;
  border: none;
  color: white;
  padding: 10px 29px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  cursor: pointer;
  margin-left:10px;
}
.deleteButton {background-color: #f7462f;}
.deleteButton:hover {background-color: #ac1a06; color:white;}

.editButton {background-color: #365cc7;}
.editButton:hover {background-color: #26428c; color:white;}

.backButton {background-color: #00cccc;}
.backButton:hover {background-color: #008080; color:white;}

.addButton {background-color: #cc66ff;}
.addButton:hover {background-color: #b31aff; color:white;}
/*------------------------------------------------------------*/
