@charset "ISO-8859-1";
/*For the whole page*/
#body 
{
	transition: margin-left .5s;
	padding: 0;
	background-color:white;
	margin-left: 250px;
	color: black;
}

/*before user do something*/
.instruction 
{
	color:#990099;
}

/*style the line under instruction*/
.hrStyle
{
	height: 3px;
    background: #990099;
    margin: 20px 0;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	border-radius: 5px;
	background:#51b09a;
	color:black;
	width:100%;
}
.card:hover {box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);}

/*img {border-radius: 5px 5px 0 0;}*/

.container {padding: 10px 46px;}

.border {
	width: 70%;
	background-color: #ede4e4;
	padding: 11px 29px;
	border-radius: 4px;
	border: none;
	text-align: left;
	display: inline-block;
	font-size: 16px;
}
	
#user {margin-top: 0%;}

#add, #choose, #update {
	background-color: #4475fc;
	border-radius: 4px;
	border: none;
	color: white;
	padding: 10px 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 17px;
}
#add:hover{background-color: #365cc7; cursor: pointer;}
#choose:hover{background-color: #365cc7; cursor: pointer;}

#Cancel {
	background-color: #f7462f;
	border-radius: 4px;
	border: none;
	color: white;
	padding: 10px 29px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 17px;
}
#Cancel:hover{background-color: #cc3d33; cursor: pointer;}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=number] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

select{
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.salesTable {
	border-collapse: separate; 
	border-spacing: 0; 
	text-align: center;
	width:98%;
	border: 1px solid #cccccc;
}

.th2{
	background-color: #2c3338; color: white;
	font-family: 'Maven Pro', sans-serif; 
	border: 1px solid white;
	padding-top: 15px; padding-right: 15px; padding-bottom: 15px; padding-left: 15px;
}

.tr2:nth-child(even) {background-color: #f2f2f2;}

.td2{
	font-family: 'Roboto Condensed', sans-serif;
	border-top: 1px solid #cccccc;
	padding-top: 15px; 
	padding-right: 15px; 
	padding-bottom: 15px; 
	padding-left: 15px;
}

.btnindx /* button Log in */ {
	text-decoration: none;
	background-color: #0066ff;
	border-radius: 4px;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 10px 2px;
	padding: 10px 10px;
	width: 8%;
	cursor: pointer;
	font-family: 'Doppio One';
	font-size: 15px;
}

.btnindx:hover {
	background-color: #0059b3;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
}

/*viewAdsList page style*/
table
{
	width:100%;
	border: 2px solid black;
	border-collapse: collapse;
}

th,td
{
	text-align: center;
	border: 2px solid black;
	padding-top: 15px; padding-right: 15px; padding-bottom: 15px; padding-left: 15px;
}

th {
	background-color: #ccccff;
}

.viewButton
{
	text-decoration: none;
	background-color: #ff8533;
	border-radius: 4px;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	padding: 5px 10px;
}
.viewButton:hover {background-color: #e65c00; color:white;}


/* addAdvertisement */
.info {
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	padding: 18px 20px;
	width: 100%;
	background-color: #FE5749;
	color: white;
}

#labelAdd{
	font-weight: bold;
}

#fieldPrice{
	width: 20%;
}

.required{
	color: red;
}

input[type='text'], input[type='number'], textarea, select {
	resize:none;
	font-size:17px;
	width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input:focus, textarea:focus{
  background-color: #D6DDFF;
}

/* end of addAdvertisement */

/* makeOrder */
#displayAds{
	width: 100%; 
	overflow: hidden;
}

#labelPrice{
	color: red;
}

#backButton {
	background-color: #00cccc;
	border-radius: 4px;
	border: none;
	color: white;
	padding: 10px 29px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 17px;
}

#backButton:hover {background-color: #008080; color:white;}
/* end of makeOrder */


/* viewAdsList */
.adsList
{
  width:100%;
  border: 2px solid black;
  border-collapse: collapse;
}

table.adsList th,td
{
  text-align: center;
  border: 2px solid black;
  padding-top: 15px; padding-right: 15px; padding-bottom: 15px; padding-left: 15px;
}

table.adsList th {
  background-color: #ccccff;
}

.viewButton
{
  text-decoration: none;
  background-color: #ff8533;
  border-radius: 4px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  padding: 5px 10px;
}

.viewButton:hover {background-color: #e65c00; color:white;}

/**.deleteButton {background-color: #f7462f;}
.deleteButton:hover {background-color: #ac1a06; color:white;}

.editButton {background-color: #365cc7;}
.editButton:hover {background-color: #26428c; color:white;}**/

/* end of viewAdsList */

/* orderForm */
#smallImage{
	width: 150px;
	height: 150px;
}

.productInfo{
	padding: 20px;
	width: 100%;
	border-collapse: collapse;
}

table.productInfo td{
	text-align: left;
}

#fieldProduct{
	background: #e6ccff;
	font-weight: bold;
}

.border{
	border-style: solid;
}

.fieldBorder {
	width: 60%;
	background-color: #ebe6ed;
	padding: 11px 20px;
	border-radius: 4px;
	border: none;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
}

.orderForm {
	  padding: 20px;
	  text-align:left;
	  width: 100%;
	  border-collapse: collapse;
}

table.orderForm td{
	text-align: left;
	border: none;
}


[type="date"] {
	background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
	height: 35px;
	width: 200px;
}

[type="date"]::-webkit-inner-spin-button {
  display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

#deliveryType, #location, #time {
	width: 200px;
}
	
/* end of orderForm */

#container, #containerid, #container2, #container3 {
    height: 400px;
    width: 900px;
    border: 3px solid black;
    position: relative;
}
#containerid { height: 200px; }
#container2 { height: 600px; }
#container3 { height: 700px; }

#label {
    position: absolute;
    top: -10px;
    left: 20px;
    height: 25px;
    width: 300px;
    background-color: #89CFF0;
    border: #89CFF0;
    text-align: center;
	
}
/*img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
    height: 150px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}*/
.buttons {
		height: 50px;
		width: 200px;
		font-size: 20px;
		font-weight: 600;
		color: black;
		background: #d600e6;
		outline: none;
		cursor: pointer;
		border: 1px solid black;
		border-radius: 25px;
		transition: .4s;
		margin: 25px 390px;
		display: table;
		position: center;
		font-family: 'Century Gothic',sans-serif;
	}
.buttons:hover{background: #ffffb5;}

.deleteButton, .editButton, .backButton, .addButton {
  border-radius: 4px;
  border: none;
  color: white;
  padding: 10px 29px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  cursor: pointer;
  margin-left:10px;
}
.deleteButton {background-color: #f7462f;}
.deleteButton:hover {background-color: #ac1a06; color:white;}

.editButton {background-color: #365cc7;}
.editButton:hover {background-color: #26428c; color:white;}

.backButton {background-color: #00cccc;}
.backButton:hover {background-color: #008080; color:white;}

.addButton {background-color: #cc66ff;}
.addButton:hover {background-color: #b31aff; color:white;}