@charset "ISO-8859-1";

/*For the whole page*/
#body 
{
	transition: margin-left .5s;
	padding: 0;
	background-color:white;
	margin-left: 250px;
	color: black;
}

/*before user do something*/
.instruction 
{
	color:#990099;
}

/*style the line under instruction*/
.hrStyle
{
	height: 3px;
    background: #990099;
    margin: 20px 0;
    width: 100%;
}

#add, #choose, #update {
	background-color: #4475fc;
	border-radius: 4px;
	border: none;
	color: white;
	padding: 10px 29px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 17px;
}

#add:hover, #update:hover{background-color: #365cc7; cursor: pointer;}
#choose:hover{background-color: #365cc7; cursor: pointer;}

#Cancel {
	background-color: #f7462f;
	border-radius: 4px;
	border: none;
	color: white;
	padding: 10px 29px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 17px;
	margin-left:10px;
}
#Cancel:hover{background-color: #C82012; cursor: pointer;}


/* -------- addAdvertisement ----- */ 
#adsText:hover, #adsNumber:hover {
   border-color: #B05BF1;
}

.info {
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	padding: 18px 20px;
	width: 100%;
	background-color: #FE5749;
	color: white;
}

#fieldLabel{
	font-weight: bold;
}

#adsnumber{
	width: 10%;
}

.required{
	color: red;
}

#adsText, #adsNumber, #adsOption {
	resize:none;
	font-size:17px;
	width: 60%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

#adsText:focus #adsNumber:focus{
  background-color: #D6DDFF;
}

#adsTable {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  text-align:left;
  width: 100%;
}
/* -------- end of addAdvertisement ----- */ 


/* --- addAdvertisemenet + editAdvertisement --- */
#bigImage{
	width:400px;
	height:400px;
}

#smallImage{
	width: 150px;
	height: 150px;
}
/* --- end of addAdvertisemenet + editAdvertisement --- */

/* -------- addsenior ----- */ 
.border {
	width: 70%;
	background-color: #e6e7eb;
	padding: 11px 29px;
	border-radius: 8px;
	border: none;
	text-align: left;
	display: inline-block;
	font-size: 16px;
}

#adsOption {
	text-align: center;
	resize:none;
	font-size:18px;
}
/* -------- end of addsenior ----- */ 


/* -------- profilesenior ----- */ 
/*List*/ 
.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	border-radius: 5px;
	background:#51b09a;
	color:black;
	width:100%;
}
.card:hover {box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);}

img {border-radius: 5px 5px 0 0;}

.container {padding: 10px 46px;}

/* -------- end of profilesenior ----- */ 


/* -------- seniorList ----- */ 
.seniorList {
	border-collapse: separate; border-spacing: 0; text-align: center;
	width:100%;
	border: 1px solid #cccccc;
}

table.seniorList th {
	background-color: #2c3338; color: white;
	padding-top: 15px; padding-right: 15px; padding-bottom: 15px; padding-left: 15px;
}

table.seniorList td {
	border-top: 1px solid #cccccc;
	padding-top: 25px; padding-right: 25px; padding-bottom: 25px; padding-left: 25px;
}

.button {
	background-color: #BF40BF;
	border: none;
	color: white;
	padding: 14px 30px;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

/* -------- end of seniorList ----- */ 


/* -------- editshipment ----- */ 
#accept {
	background-color: #baa802;
	border-radius: 4px;
	border: none;
	color: white;
	padding: 10px 29px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 17px;
}
#accept:hover{background-color: #f7ee36; cursor: pointer;}

#prepared {
	background-color: #f06305;
	border-radius: 4px;
	border: none;
	color: white;
	padding: 10px 29px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 17px;
}
#prepared:hover{background-color: #fc883a; cursor: pointer;}

#delivered {
	background-color: #0ba310;
	border-radius: 4px;
	border: none;
	color: white;
	padding: 10px 29px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 17px;
}
#delivered:hover{background-color: #35d43a; cursor: pointer;}

/* -------- end of editshipment ----- */ 


/* -------- editParcelEvidence ----- */ 
#container {
    height: 650px;
    width: 900px;
    border: 3px solid black;
    position: relative;
}
#container2 {
    height: 500px;
    width: 900px;
    border: 3px solid black;
    position: relative;
}

#label {
    position: absolute;
    top: -10px;
    left: 20px;
    height: 25px;
    width: 300px;
    background-color: #89CFF0;
    border: #89CFF0;
    text-align: center;
	
}
#imgEvidence {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
    height: 150px;
}

#imgEvidence:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.buttons button{
	height: 50px;
	width: 150px;
	font-size: 20px;
	font-weight: 600;
	color: black;
	background: #03c2fc;
	outline: none;
	cursor: pointer;
	border: 1px solid black;
	border-radius: 25px;      
	transition: .4s;
	margin: 25px 390px;      
	display: table;
	position: center;
	font-family: 'Century Gothic',sans-serif;
}
.buttons button:hover{
	background: #ffffb5;

}
.buttons input{
	height: 50px;
	width: 150px;
	font-size: 20px;
	font-weight: 600;
	color: black;
	background: #03c2fc;
	outline: none;
	cursor: pointer;
	border: 1px solid black;
	border-radius: 25px;      
	transition: .4s;
	margin: 25px 390px;      
	display: table;
	position: center;
	font-family: 'Century Gothic',sans-serif;
}

.buttons input:hover{
	background: #ffffb5;
}

/* -------- end of editParcelEvidence ----- */ 


/* -------- index ----- */ 
/*img{width:300px;}*/
		
hr{border: 1px solid white; width: 550px;}

/* link to the student index.php */
a{text-decoration: none; color:#f678ff;}	
a:hover{color: #a5aee6;}
		
#indexText 	/* username , ic number */
{
	width: 25%;
	margin: 10px 0;
	box-sizing: border-box;
	padding: 10px;
	font-family: 'Doppio One';
	font-size: 18px;
}

.btn	/* button Log in */
{
	text-decoration: none;
	background-color: #0066ff;
	border-radius: 4px;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 10px 2px;
	padding: 10px 10px;
	width: 8%;
	cursor: pointer; font-family: 'Doppio One'; font-size: 15px;
}
.btn:hover {background-color: #0059b3;}

/* -------- end of index ----- */ 


/* -------- listshipment ----- */ 

/*masuk dalam body_se.css*/
/*shipmentRequest page style*/
#PRTitle {
	background-color: #99ffcc;
	border: none;
	color:black;
	border-radius: 25px;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin-bottom: 10px;
}

.shipReqList span {
	font-weight: bold;
	color: #990000;
}

.shipReqList td { text-align: left;}

.acceptButton {background-color: #365cc7;}
.acceptButton:hover {background-color: #26428c; color:white;}

.rejectButton {background-color: #f7462f;}
.rejectButton:hover {background-color: #ac1a06; color:white;}

/* -------- end of listshipment ----- */ 

/*viewAdsListAD page style*/
.listadstable table, .shipReqList table {
	width:100%;
	border: 2px solid black;
	border-collapse: collapse;
}

.listadstable th, .listadstable td, .shipReqList th, .shipReqList td {
	text-align: center;
	border: 2px solid black;
	padding-top: 15px; padding-right: 15px; padding-bottom: 15px; padding-left: 15px;
}

.listadstable th, .shipReqList th { background-color: #ccccff; }

.viewButton, .acceptButton, .rejectButton {
	text-decoration: none;
	background-color: #ff8533;
	border-radius: 4px;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	padding: 5px 10px;
	font-size: 17px;
}
.viewButton { background-color: #365cc7; }
.viewButton:hover {background-color: #26428c; color:white;}
/*------------------------------------------------------------*/

/*viewDetailsAdsListAD page style*/
.detail-table table {
	width:100%;
	border: 0px;
	border-collapse: collapse;
}

.detail-table th, .detail-table td {
	border-bottom: 2px solid #ccccff;
	padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;
}

.detail-table td { width:80%; }

.detail-table th {
	width: 10%;
	color: #000099;
	padding-right: 20px;
}

.adsImg { width:300px; }
#adsImgBorder{width: 10%; border:0px;}

.deleteButton, .editButton, .backButton, .addButton {
  border-radius: 4px;
  border: none;
  color: white;
  padding: 10px 29px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  cursor: pointer;
  margin-left:10px;
}
.deleteButton {background-color: #f7462f;}
.deleteButton:hover {background-color: #ac1a06; color:white;}

.editButton {background-color: #365cc7;}
.editButton:hover {background-color: #26428c; color:white;}

.backButton {background-color: #00cccc;}
.backButton:hover {background-color: #008080; color:white;}

.addButton {background-color: #cc66ff;}
.addButton:hover {background-color: #b31aff; color:white;}
/*------------------------------------------------------------*/

#container, #containerid, #container2, #container3 {
    height: 400px;
    width: 900px;
    border: 3px solid black;
    position: relative;
}
#containerid { height: 200px; }
#container2 { height: 600px; }
#container3 { height: 800px; }

#label {
    position: absolute;
    top: -10px;
    left: 20px;
    height: 25px;
    width: 300px;
    background-color: #89CFF0;
    border: #89CFF0;
    text-align: center;
	
}
/*img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
    height: 150px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}*/
.buttons  {
	height: 50px;
	width: 200px;
	font-size: 20px;
	font-weight: 600;
	color: black;
	background: #03c2fc;
	outline: none;
	cursor: pointer;
	border: 1px solid black;
	border-radius: 25px;
	transition: .4s;
	margin: 25px 390px;
	display: table;
	position: center;
	font-family: 'Century Gothic', sans-serif;
}

.buttons:hover{background: #ffffb5;}
