@charset "ISO-8859-1";

.sidenav 
{
	height: 100%;
	width: 250px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidenav #menu
{
	border-bottom: 1px solid #333333;
	padding-top: 13px;
	padding-bottom: 13px;
}
	
img,h2,.sidenav a
{
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 19px;
	color: #D6D6D6;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover {color: #990099;}
.sidenav a.active {color: #990099;}

.sidenav .closebtn
{
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 26px;
	margin-left: 50px;
}